<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
        <%= form_with model: @user, class: "ui form", url: login_path do |form| %>
          <div class="field">
            <%= form.label :Username %>
            <div class="ui left icon input">
              <%= form.text_field :username, placeholder: 'Username' %>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <%= form.label :Password %>
            <div class="ui left icon input">
              <%= form.password_field :password, placeholder: 'Enter your password' %>
              <i class="lock icon"></i>
            </div>
          </div>
          <%= form.submit "Login", class: "ui big orange button" %>
        <% end %>
    </div>
    <div class="middle aligned column">
      <div class="ui big orange button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>